<div class="container">
    <header class="">
        <div class="logo">
            <img src="../img/der-streber.svg" alt="Der Medienstreber am Schreibtisch">  
        </div>
        <div class="intro">
            <h1>{{ page.title }}</h1>
            <p>{{ page.description }}</p>
            <a class="btn btn-success" href="mailto:hallo@medienstreber.de?cc=&bcc=&subject=Ich möchte einen Link (oder PDF) einreichen!&body=Hallo Herr Medienstreber,%0A%0Aich habe einen tollen Link oder eine tolle Datei für die Vorbereitung gefunden!%0A%0AURL:%0D%0AÜber das Thema:%0D%0AGeschrieben von:%0A%0ABeste Grüße,%0D%0A" title="Eine Ressource einreichen" role="button">Ressource einreichen</a>
        </div>
    </header>
</div>